<app-navbar-comp [isLoggedIn]="true"></app-navbar-comp>

<p-table [value]="datasets">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Format</th>
      <th>Last Updated</th>
      <th>Size</th>
      <th>Tags</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataset>
    <tr>
      <td>{{dataset.name}}</td>
      <td>{{dataset.description}}</td>
      <td>{{dataset.format}}</td>
      <td>{{dataset.lastUpdated}}</td>
      <td>{{dataset.sizeInKiloBytes}}</td>
      <td>{{dataset.tags}}</td>
    </tr>
  </ng-template>
</p-table>
